.tools {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebeef5;
  }
  .formInput{
    width: 300px;
  }
  .a-tag {
    margin-right: 20px;
    cursor: pointer;
  }